{% extends 'core/base.html' %}

{% block title %}
Futura
{% endblock %}

{% block top %}
<div class="self-center flex flex-row w-full mt-10 mb-4 px-4 items-center justify-center max-w-md">
    <p class="text-4xl font-bold w-full">Futura</p>
    <a href="{% url 'create_chat' %}">
        <span class="material-symbols-outlined">
            edit
        </span>
    </a>
</div>
{% endblock %}

{% block content %}
<div class="self-center flex flex-col overflow-y-auto h-full w-full max-w-md px-4 gap-2 items-center pb-6">
    <form method="POST" action="{% url 'create_chat' %}" class="flex flex-col w-full h-full items-center justify-center">
        {% csrf_token %}
        <div class="mb-4 w-full">
            <label for="title" class="block text-2xl font-bold mb-2">Chat Title:</label>
            <input type="text" id="title" name="title" class="shadow w-full appearance-none border rounded-full w-full p-4 text-gray-700 text-xl leading-tight focus:outline-none focus:shadow-outline" placeholder="Enter chat title">
        </div>
        {% if error %}
        <p class="text-red-500 w-full text-xs italic">{{ error }}</p>
        {% endif %}
        <div class="flex w-full items-center justify-between">
            <button type="submit" class="w-full bg-blue-700 hover:bg-blue-700 text-white text-lg font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline">
                Start Chat
            </button>
        </div>
    </form>
</div>
{% endblock %}

{% block bottom %}
<div class="self-center flex flex-row w-full bg-black items-center justify-between p-2 px-6 text-gray-400 max-w-md">
    <a class="p-4 px-3 rounded-xl" href="{% url 'index' %}">
        <span class="material-symbols-outlined ">
            home
        </span>
    </a>
    <a class="p-2 px-3 rounded-xl" href="{% url 'categories' %}">
        <span class="material-symbols-outlined ">
            dataset
        </span>
    </a>
    <a class="p-2 px-3 rounded-xl" href="{% url 'chat_page' %}">
        <span class="material-symbols-outlined text-white">
            forum
        </span>
    </a>
    {% if request.user.is_authenticated %}
    <a class="p-2 px-3 rounded-xl" href="{% url 'logout' %}">
        <span class="material-symbols-outlined">
            logout
        </span>
    </a>
    {% else %}
    <a class="p-2 px-3 rounded-xl" href="{% url 'login' %}">
        <span class="material-symbols-outlined">
            account_circle
        </span>
    </a>
    {% endif %}
</div>
{% endblock %}
