{% extends 'core/base.html' %}

{% block title %}
Wardrobe
{% endblock %}

{% block top %}
<div class="self-center flex flex-row w-full mt-10 mb-4 px-4 items-center justify-center max-w-md">
    <input 
        type="text" 
        placeholder="Search..." 
        class="w-full p-3 px-6 text-gray-700 font-bold border-none bg-gray-300 rounded-s-full" 
    />
    <a class="flex bg-black text-white p-2 px-6 rounded-r-full h-full text-center items-center justify-center">
        <span class="material-symbols-outlined">
            search
        </span>
    </a>
</div>
{% endblock %}

{% block content %}
<script
	type="module"
	src="https://gradio.s3-us-west-2.amazonaws.com/4.36.1/gradio.js"
></script>

<gradio-app class="max-w-sm self-center" src="https://levihsu-ootdiffusion.hf.space"></gradio-app>
{% endblock %}
    
{% block bottom %}
<div class="self-center flex flex-row w-full bg-black items-center justify-between p-2 px-6 text-gray-400 max-w-md">
    <a class="p-4 px-3 rounded-xl" href="{% url 'index' %}">
        <span class="material-symbols-outlined text-white">
            home
        </span>
    </a>
    <a class="p-2 px-3 rounded-xl" href="{% url 'categories' %}">
        <span class="material-symbols-outlined">
            dataset
        </span>
    </a>
    <a class="p-2 px-3 rounded-xl" href="{% url 'chat_page' %}">
        <span class="material-symbols-outlined">
            forum
        </span>
    </a>
    {% if request.user.is_authenticated %}
    <a class="p-2 px-3 rounded-xl" href="{% url 'logout' %}">
        <span class="material-symbols-outlined">
            logout
        </span>
    </a>
    {% else %}
    <a class="p-2 px-3 rounded-xl" href="{% url 'login' %}">
        <span class="material-symbols-outlined">
            account_circle
        </span>
    </a>
    {% endif %}
</div>
{% endblock %}