{% extends 'core/base.html' %}

{% block title %}
Categories
{% endblock %}

{% block top %}
<div class="self-center flex flex-row w-full mt-10 mb-4 px-4 items-center justify-center max-w-md">
    <p class="font-serif text-4xl font-bold w-full">Categories</p>
</div>
{% endblock %}

{% block content %}
<div class="self-center flex flex-col overflow-y-auto h-full w-full max-w-md px-6 gap-6 items-center pb-6">
        {% for category in categories %}
        <a href="{% url 'category' category.slug %}">
            <div class="h-auto w-full flex-shrink-0">
                <img class="h-full w-full rounded-3xl" src="{{category.thumbnail.url}}">
            </div>
        </a>
        {% endfor %}
</div>
{% endblock %}
    
{% block bottom %}
<div class="self-center flex flex-row w-full bg-black items-center justify-between p-2 px-6 text-gray-400 max-w-md">
    <a class="p-4 px-3 rounded-xl" href="{% url 'index' %}">
        <span class="material-symbols-outlined ">
            home
        </span>
    </a>
    <a class="p-2 px-3 rounded-xl" href="{% url 'categories' %}">
        <span class="material-symbols-outlined text-white">
            dataset
        </span>
    </a>
    <a class="p-2 px-3 rounded-xl" href="{% url 'chat_page' %}">
        <span class="material-symbols-outlined">
            forum
        </span>
    </a>
   <a class="p-2 px-3 rounded-xl" href="{% url 'wardrobe' %}">
        <span class="material-symbols-outlined">
            guardian
        </span>
    </a>
    {% if request.user.is_authenticated %}
    <a class="p-2 px-3 rounded-xl" href="{% url 'logout' %}">
        <span class="material-symbols-outlined">
            logout
        </span>
    </a>
    {% else %}
    <a class="p-2 px-3 rounded-xl" href="{% url 'login' %}">
        <span class="material-symbols-outlined">
            account_circle
        </span>
    </a>
    {% endif %}
</div>
{% endblock %}