{% extends 'core/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="self-center flex flex-col overflow-y-auto h-full w-full max-w-md gap-6 items-center pb-6">
    <div style="background: linear-gradient(to bottom, #ffe7b6, #ccab6a);" class="flex flex-col w-full items-center justify-center rounded-b-3xl">
        <div class="flex justify-between w-full px-6 pt-6">
            <button onclick="goBack()">
                <span class="material-symbols-outlined bg-white p-3 rounded-full">
                    arrow_back_ios_new
                </span>
            </button>
            <button onclick="goBack()">
                <span class="material-symbols-outlined bg-white p-3 rounded-full">
                    center_focus_strong
                </span>
            </button>
        </div>
        
        <img class="max-w-xs px-4 pb-4 h-full rounded-b-3xl object-contain" src="{{product.product_image.url}}">
    </div>
    <div class="flex w-full flex-row justify-between items-start px-6">
        <div>
            <p class="font-semibold font-serif text-2xl mr-3">{{product.product_name}}</p>
            <p class="font-medium text-lg">
                {{product.target}}
            </p>
            <p class="">
                {{product.category}}
            </p>
        </div>
        {% if product.sale %}
        <p><span class="text-2xl ms-1 line-through text-gray-600 me-2">${{product.price}}</span><span class="text-2xl font-bold">${{product.sale.price}}</span></p>
        {% else %}
        <p class="text-2xl font-bold">${{product.price}}</p>
        {% endif %}
    </div>

    

    <div class="w-full px-6">
        <p class="w-full text-lg font-medium">Virtual Avatar Photos:</p>
        <div class="flex flex-row w-full flex-wrap gap-2 justify-start">
            {% if product.virtual_photos %}
            {% for image in product.virtual_photos.all %}
            <img class="h-36 rounded-lg object-cover cursor-pointer" src="{{image.photo.url}}" 
                data-modal-target="imageModal" data-modal-toggle="imageModal" onclick="setModalImage('{{image.photo.url}}')">
            {%endfor%}
            <div id="imageModal" tabindex="-1" aria-hidden="true" class="flex flex-col w-full h-screen items-center justify-center fixed top-0 left-0 px-6 z-50 hidden">
                <img id="modalImage" class="w-auto h-auto rounded-lg" src="" alt="Preview Image">
                <button type="button" class="bg-blue-700 m-2 rounded-full" data-modal-hide="imageModal">
                    <p class="p-3 px-6 font-bold text-white">Close Preview</p>
                </button>
            </div>
            
            {% endif %}
            <a class="flex flex-col gap-2 h-36 px-2 bg-gray-300 rounded-lg items-center justify-center">
                <span class="material-symbols-outlined">
                    add_circle
                </span>
                <p>Generate More</p>
            </a>
        </div>
    </div>
</div>
<script>
    function setModalImage(imageUrl) {
        document.getElementById('modalImage').src = imageUrl;
    }
</script>
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}

{% block bottom %}
<div class="self-center flex flex-row w-full bg-black items-center justify-center p-2 px-6 text-gray-400 max-w-md">
    <lottie-player src="https://fonts.gstatic.com/s/e/notoemoji/latest/2728/lottie.json" background="transparent" speed="0.7"  style="width: 36px; height: 36px;" autoplay loop></lottie-player>
    <p class="p-4 text-white text-2xl">Try it on (coming soon)</p>
</div>
{% endblock %}