{% extends 'core/base.html' %}

{% block title %}
Search
{% endblock %}

{% block top %}
<div class="self-center flex flex-row w-full mt-10 mb-4 px-4 items-center justify-center max-w-md">
    <input 
        type="text" 
        placeholder="Search..." 
        class="w-full p-3 px-6 text-gray-700 font-bold border-none bg-gray-300 rounded-s-full" 
    />
    <a class="flex bg-black text-white p-2 px-6 rounded-r-full h-full text-center items-center justify-center">
        <span class="material-symbols-outlined">
            search
        </span>
    </a>
</div>
{% endblock %}

{% block content %}
<div class="self-center flex flex-col overflow-y-auto h-full w-full max-w-md px-6 gap-6 items-center pb-6">
    <div class="flex flex-row h-36 max-w-sm w-full flex-shrink-0 overflow-x-auto items-center gap-2">
        {% for category in categories %}
        <a href="{% url 'category' category.slug %}">
            <div class="h-full w-72 flex-shrink-0">
                <img class="h-full w-full rounded-3xl" src="{{category.thumbnail.url}}">
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="flex flex-col w-full flex-shrink-0 gap-2">
        <p class="text-3xl font-serif font-bold">Flash Sale</p>
        <div class="flex flex-row h-auto max-w-sm w-full flex-shrink-0 overflow-x-auto items-center gap-2">
            {% for product in sales %}
            <a href="{% url 'product' product.product.id %}" class="h-full w-44 flex-shrink-0">
                <div class="flex h-44 w-44 flex-shrink-0 rounded-3xl items-center justify-center" style="background: linear-gradient(to bottom, #ffe7b6, #ccab6a);">
                    <img class="h-36 w-36 rounded-3xl object-contain mx-auto"  src="{{product.product.product_image.url}}">
                </div>
                <p class="font-semibold text-xl ms-1">{{ product.product.product_name }}</p>
                <p class="font-bold text-lg ms-1">Rs. {{ product.price }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="flex flex-col w-full flex-shrink-0 gap-2">

        <div class="flex items-center justify-between">
            <p class="text-3xl font-serif font-bold">Popular</p>
        </div>
        {% for target, items in products.items %}
        <div class="flex items-center justify-between">
            <p class="text-2xl font-serif">{{target}}</p>
            <a href="{% url 'target' target %}" class="text-yellow-400 font-medium">See all</a>
        </div>
            
        <div class="flex flex-row h-auto max-w-sm w-full flex-shrink-0 overflow-x-auto items-center gap-2 mb-6">
            {% for product in items %}
            <a href="{% url 'product' product.id %}">
                <div class="h-full w-44 flex-shrink-0">
                    <div class="flex h-60 w-44 flex-shrink-0">
                        {% if product.virtual_photos.first %}
                        <img class="h-auto w-auto rounded-3xl object-cover" src="{{product.virtual_photos.first.photo.url}}">
                        {% else %}
                        <img class="h-auto w-auto rounded-3xl object-contain" style="background: linear-gradient(to bottom, #ededed, #cdcdcd);" src="{{product.product_image.url}}">
                        {% endif %}
                    </div>
                    <p class="font-semibold text-xl ms-1">{{product.product_name}}</p>
                    {% if product.sale %}
                    <p class="text-sm ms-1 font-medium line-through">Rs. {{product.price}}</p>
                    <p class="text-lg font-bold ms-1">Rs. {{product.sale.price}}</p>
                    {% else %}
                    <p class="text-lg font-bold ms-1">Rs. {{product.price}}</p>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
    
{% block bottom %}
<div class="self-center flex flex-row w-full bg-black items-center justify-between p-2 px-6 text-gray-400 max-w-md">
    <a class="p-4 px-3 rounded-xl" href="{% url 'index' %}">
        <span class="material-symbols-outlined text-white">
            home
        </span>
    </a>
    <a class="p-2 px-3 rounded-xl" href="{% url 'categories' %}">
        <span class="material-symbols-outlined">
            dataset
        </span>
    </a>
    <a class="p-2 px-3 rounded-xl">
        <span class="material-symbols-outlined text-gray-700">
            forum
        </span>
    </a>
    <a class="p-2 px-3 rounded-xl">
        <span class="material-symbols-outlined text-gray-700">
            guardian
        </span>
    </a>
    {% if request.user.is_authenticated %}
    <a class="p-2 px-3 rounded-xl" href="{% url 'logout' %}">
        <span class="material-symbols-outlined">
            logout
        </span>
    </a>
    {% else %}
    <a class="p-2 px-3 rounded-xl" href="{% url 'login' %}">
        <span class="material-symbols-outlined">
            account_circle
        </span>
    </a>
    {% endif %}
</div>
{% endblock %}