{% extends 'core/base.html' %}

{% block title %}
{{target}}
{% endblock %}

{% block top %}
<div class="self-center flex flex-row w-full mt-10 mb-4 px-4 items-center justify-center max-w-md">
    <p class="text-4xl font-bold w-full">{{target}}</p>
</div>
{% endblock %}

{% block content %}
<div class="self-center flex flex-col overflow-y-auto h-full w-full max-w-md px-6 gap-6 items-center pb-6">
        {% for product in products %}
        <a href="{% url 'product' product.id %}">
            <div class="flex flex-col h-full w-full flex-shrink-0">
                <div class="flex h-auto w-full flex-shrink-0">
                    {% if product.virtual_photos.first %}
                    <img class="h-auto w-auto rounded-3xl object-cover" src="{{product.virtual_photos.first.photo.url}}">
                    {% else %}
                    <img class="h-auto w-auto rounded-3xl object-contain" style="background: linear-gradient(to bottom, #ededed, #cdcdcd);" src="{{product.product_image.url}}">
                    {% endif %}
                </div>
                <p class="font-semibold text-xl ms-1">{{product.product_name}}</p>
                {% if product.sale %}
                <p class="text-sm ms-1 font-medium line-through">Rs. {{product.price}}</p>
                <p class="text-lg font-bold ms-1">Rs. {{product.sale.price}}</p>
                {% else %}
                <p class="text-lg font-bold ms-1">Rs. {{product.price}}</p>
                {% endif %}
            </div>
        </a>
        {% endfor %}
</div>
{% endblock %}

{% block bottom %}
<div class="self-center flex flex-row w-full bg-black items-center justify-between p-2 px-6 text-gray-400 max-w-md">
    <a class="p-4 px-3 rounded-xl" href="{% url 'index' %}">
        <span class="material-symbols-outlined ">
            home
        </span>
    </a>
    <a class="p-2 px-3 rounded-xl" href="{% url 'categories' %}">
        <span class="material-symbols-outlined text-white">
            dataset
        </span>
    </a>
    <a class="p-2 px-3 rounded-xl" href="{% url 'chat_page' %}">
        <span class="material-symbols-outlined">
            forum
        </span>
    </a>
    {% if request.user.is_authenticated %}
    <a class="p-2 px-3 rounded-xl" href="{% url 'logout' %}">
        <span class="material-symbols-outlined">
            logout
        </span>
    </a>
    {% else %}
    <a class="p-2 px-3 rounded-xl" href="{% url 'login' %}">
        <span class="material-symbols-outlined">
            account_circle
        </span>
    </a>
    {% endif %}
</div>
{% endblock %}