{% extends 'core/base.html' %}

{% block title %}
Home
{% endblock %}

{% block top %}
<div class="self-center flex flex-row w-full mt-10 mb-4 px-4 items-center justify-start max-w-md">
    <button onclick="goBack()">
        <span class="material-symbols-outlined rounded-full me-4">
            arrow_back_ios_new
        </span>
    </button>
    <p class="font-serif text-4xl font-bold">Try On</p>
    <p class="text-2xl"><sup>(Coming Soon)</sup></p>
</div>
{% endblock %}

{% block content %}
<div class="self-center flex flex-col overflow-y-auto h-full w-full max-w-md gap-6 items-center pb-6 px-6">
    <p class="text-2xl w-full">Garment Picture:</p>
    <div style="background: linear-gradient(to bottom, #ffe7b6, #ccab6a);" class="flex flex-col w-full items-center justify-center rounded-3xl">       
        <img class="max-w-xs px-4 pb-4 h-full rounded-b-3xl object-contain" src="{{product.product_image.url}}">
    </div>

    <div class="w-full">
        <p class="w-full text-lg font-medium">Select an avatar:</p>
        <div class="flex flex-row w-full flex-wrap justify-start">
            {% for avatar in avatars %}
            <img class="w-1/4 rounded-xl object-cover cursor-pointer p-1" src="{{avatar.model_photo.url}}" 
                data-modal-target="imageModal" data-modal-toggle="imageModal" onclick="setModalImage('{{avatar.model_photo.url}}')">
            {%endfor%}
            <div id="imageModal" tabindex="-1" aria-hidden="true" class="flex flex-col w-full h-screen items-center justify-center fixed top-0 left-0 px-6 z-50 hidden">
                <img id="modalImage" class="h-auto max-w-sm rounded-lg" src="" alt="Preview Image">
                <button type="button" class="bg-blue-700 m-2 rounded-full" data-modal-hide="imageModal">
                    <p class="p-3 px-6 font-bold text-white">Close Preview</p>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    function setModalImage(imageUrl) {
        document.getElementById('modalImage').src = imageUrl;
    }
</script>
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}

{% block bottom %}
<div class="self-center flex flex-row w-full bg-black items-center justify-center p-2 px-6 text-gray-400 max-w-md">
    <lottie-player src="https://fonts.gstatic.com/s/e/notoemoji/latest/2728/lottie.json" background="transparent" speed="0.7"  style="width: 36px; height: 36px;" autoplay loop></lottie-player>
    <p class="p-4 text-white text-2xl">Try it on (coming soon)</p>
</div>
{% endblock %}